* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;

}

main {
    padding: 32px;
    display:inline-table;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: absolute;
    width:100%;
}

.mainHeader {
    width:100%;
    height:50px;
    margin: auto;
    position:relative;
    padding: 10px;
    border: 3px solid #73AD21;
}

.topButtons{
    margin: auto;
    top: 100%;
    width: 100%;
    border: 3px solid #73AD21;
    padding: 10px;
    position:relative;
}
.list{
    width: 100%;
    border: 3px solid #73AD21;
    padding: 10px;
    position:relative;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}