<appSettings>
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false"/>
</appSettings>

<authentication mode="Forms">
    <forms loginUrl="~/Home/Login" timeout="43200" protection="All" timeout="2880" name="001WVCookie" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="/Home/Index" cookieless="UseCookies" enableCrossAppRedirects="false" /> <!--43,200 in minutes - 30 days-->
</authentication>
