<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="wwwroot/js/site.js"></script>

<div class="text-center">
    <h2>Archived items</h2>
</div>

@using Newtonsoft.Json

@model List<TodoItem>

@{
    var userId = (string)ViewBag.UserId;
}

@foreach (var todoItem in Model)
{
    if (todoItem.UserId == userId && todoItem.Status == Todo.Enums.StatusType.ARCHIVED)
    {
        <div>
            <div class="flex-container" id="@todoItem.Id">
                <p>@todoItem.Text</p>
                <input type="button" title="Delete" value="Delete" onclick="remove(@todoItem.Id)" />
                <input type="button" title="Unarchive" value="Unarchive" onclick='unarchive(@Html.Raw(JsonConvert.SerializeObject(todoItem)))' />
            </div>
        </div>
    }
}