<div class="text-center">
    <h2>Completed items</h2>
</div>

@model List<TodoItem>

@{
    var userId = (string)ViewBag.UserId;
}

@{ Html.RenderPartial("_Partial", new TodoItemViewModel(Model.Where(x => x.UserId == userId && x.Status == Todo.Enums.StatusType.COMPLETED), userId, 2, 1)); }