<div class="text-center">
    <h2>To do list</h2>
</div>

@model List<TodoItem>

@foreach (var todoItem in Model)
{
    <div>
        <p>@todoItem.Text</p>
        <p>@todoItem.Status</p>
    </div>
}

<div class="text-center">
    <h2>Add a new item</h2>
</div>

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="Text">Text:</label>
        <textarea class="form-control" id="text" name="text"></textarea>
    </div>
    <div class="form-group">
        <label for="UserId">UserId:</label>
       <input type="text" class="form-control" id="userId" name="userId" />
    </div>
    <div class="form-group">
        <label for="Status">Status:</label>
        <input type="text" class="form-control" id="status" name="status" />
    </div>

    <button type="submit" value="Submit" class="btn btn-primary">Create</button>
}

<script>
    $('form').submit(function (event) {
        event.preventDefault();

        var formData = $('form').serializeArray();
        var data = {};

        $(formData).each(function (index, obj) {
            data[obj.name] = obj.value;
        });

        console.log(data);

        $.ajax({
            type: 'POST',
            url: '/api/todo',
            data: JSON.stringify(data),
            contentType: 'application/json'
        }).done(function () {
            console.log('Success');
        }).fail(function () {
            console.log('Error');
        });
    });
</script>